*{
    padding : 0 ;
    margin : 0 ;
}

.login-form {
    
    /* background-color: white ; */
    
}

.log-in{
    background-color: white ;
    border : 1px grey solid;
    box-shadow: 1px 1px 1px 0px grey ;
    min-width: inherit;
    width:20vw ;
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding : 22px 30px ;
}

.log-in > form {
    width:inherit ;
    display: flex;
    flex-direction: column;
}

.log-in form > input {
    margin-top: 10px;
    padding : 7px 13px ;
    font-size : 13px ;
}

.login-btn{
    font-size : 13px ;
    background-color: #0095F6;
    border-radius : 10px ;
    outline: none ;
    border : none ;
    cursor: pointer;
    margin: 13px 0px;
    color : white ;
    padding : 10px 0 ;
}

.log-in  a { 
    margin : 13px ;
    color : blue ;
    text-decoration: none;
    text-align: center;
}

.or { 
    text-align: center;
    margin: 15px 0px;
    color : grey ;
}

.signup-btn{
    background-color : white ;
    margin-top: 13px ;
    border : 1px grey solid;
    box-shadow: 1px 1px 1px 0px grey ;
    padding : 22px 30px ;
    text-align: center;
}